body{
	background-color: #f4f8f7;
}

header {
	position: relative;
	background-color: #fff;
	padding: 3.73vw 2.8vw;
	text-align: center;
	font-size: 3.73vw;
	color: #555555;
	position: fixed;
	top: 0;
	width: 94.4vw;
}

header .arrow-left {
	position: absolute;
	left: 2.8vw;
	width: 2.67vw;
	height: 4.67vw;
}

/* 列表 */
.address-list {
	padding-top:  13vw;
	margin-top: 2.67vw;
	padding-bottom: 15.73vw;
}

.address-list li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3.73vw 2.93vw;
	margin-bottom: 2.67vw;
	background-color: #fff;
	font-size: 3.73vw;
	color: #333333;
}

.address-list .top {
	display: flex;
	align-items: center;
	padding-bottom: 4.8vw;
}

.address-list .info .default {
	font-size: 2.67vw;
	border: 0.5px solid #c55a5c;
	padding: 0.8vw 2vw;
	border-radius: 0.67vw;
	margin-left: 4vw;
	color: #c55a5c;
}

.address-list .info .name {
	min-width: 31.6vw;
}

.address-list .info .detail {
	font-size: 3.2vw;
	color: #666666;
	width: 57vw;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;					
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.address-list .edit,
.address-list .remove {
	width: 4.8vw;
	height: 4.8vw;
}

.address-list .info {
	width: 72.4vw;
}

/* 新建收货地址 */
.add-button {
	position: fixed;
	bottom: 4.13vw;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	background-color: #c55a5c;
	color: #fff;
	width: 94.4vw;
	padding: 3.2vw 0;
	text-align: center;
	font-size: 3.73vw;
	border-radius: 0.53vw;
}
.add-button:visited{
	color: #fff;
}