.header{
	text-align: center;
	padding: 5.6vw 0;
	background-color: #fafafa;
}
.header img{
	width: 2.67vw;
	height: 4.67vw;
	position: absolute;
	top: 6vw;
	left: 3vw;
}
.content{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	
}
.content .item{
	box-sizing: border-box;
	width: 50%;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}

.item img{
	width: 49vw;
}
.content .item .text{
	padding: 1.47vw 3.33vw;
	
	padding: 1.47vw 3.33vw;
}
.content .item .name{
	font-size: 4.27vw;
	color: #555555;
}
.content .item .detail{
	font-size: 3.2vw;
	color: #999999;
	overflow: hidden;
	padding: 2.53vw 0 0; 
	/* 仅限webkit内核使用 */
	display: -webkit-box;
	/* 几行开始截断 */
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: unset;
	/* 对超长数字/超长英文断行 */
	word-break: break-all;
	
}
.content .item .price{
	padding: 3.87vw 0 4vw;
	color: #c55a5c;
	font-size: 3.73vw;
}
.content .item:nth-child(2n){
	border-left: none;
}
