body {
	background-color: #fff;
}

header {
	position: relative;
	background-color: #fff;
	padding: 3.73vw 2.8vw;
	text-align: center;
	font-size: 3.73vw;
	color: #555555;
	position: fixed;
	top: 0;
	width: 94.4vw;
}

header .arrow-left {
	position: absolute;
	left: 2.8vw;
	width: 2.67vw;
	height: 4.67vw;
}

header {
	border-bottom: 2.67vw solid #f4f4f4;

}

.pay-list {

	padding: 0 2.67vw;
	padding-top: 15vw;
}

.pay-list li {
	padding: 4.53vw 0;
	display: flex;
	justify-content: left;
	align-items: center;
	border-bottom: 0.2vw solid #cecece;
	font-family: PingFang-SC-Regular;
	font-size: 3.73vw;
	font-weight: bold;
	color: #777777;
}

.pay-list li .select-box {
	width: 4.8vw;
	height: 4.8vw;
	border-radius: 50%;
	border: 0.2vw solid #d1d1d1;
	/* background-color: #c55a5c; */
	line-height: 4.8vw;
	text-align: center;

}

.pay-list li .select-box>img {
	width: 70%;
	opacity: 0;
}

.pay-list li:first-child .select-box {
	background-color: #c55a5c;
}

.pay-list li:first-child .select-box>img {
	opacity: 1;
}

.pay-list li>img {
	width: 6.5vw;
	margin: 0 5.2vw;
}

.pay-btn {
	box-sizing: border-box;
	margin: 0 2.8vw;
	background-color: #c55a5c;
	text-align: center;
	padding: 4.53vw 0;
	border-radius: 1.33vw;
	position: fixed;
	bottom: 22.67vw;
	width: 94.4vw;
	font-size: 3.73vw;
	color: #fff;
}

.pay-btn:visited {
	color: #fff;
}
